<h1> Contact Us </h1>

<% if @name.present? %>


Hello
<% end %>

<%= form_tag contact_path do %>
<div>
  <%= label_tag :name %>
  <%= text_field_tag :name, nil, placeholder: 'Enter your name' %>
</div>

<div>
  <%= label_tag :email %>
  <%= text_field_tag :email, nil, placeholder: 'Enter your email' %>
</div>

<div>
  <%= label_tag :message %>
  <%= text_field_tag :message, nil, placeholder: 'Enter your message' %>
</div>

<%= submit_tag 'Contact us' %>




<% end %>
