<div>
  <% if @product.errors.present? %>
    <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= form_for(@product) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div>
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>
  <br>
  <div>
  <%= f.label :tag_list, "Tags (seperated by commas)" %>
  <%= f.text_field :tag_list %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
